*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
/*----------navbar design----------------*/
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

/*-----------------content-----------------*/
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: white;
    font-weight: 400px;
    margin-right: 15px;
}
#icon{
    width: 80px;
    cursor: pointer;
}

/*----------Gospel music page-------------------*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transform: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.col-4:hover{
    transform: translateY(-5px);
}
h4{
    color: #fff;
    font-weight: normal;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}
.title::after{
    content: '';
    background:orange ;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*---------------------------*/
.container-2{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}


